<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Card</title>
  </head>

  <body>
    <div class="card">
      <div class="container">
        <div class="exercice">
          <img
            class="imgContent"
            src="../../assets/image/exercice.png"
            alt=""
          />
          <img class="imgEfect" src="../../assets/image/efect.png" alt="" />
        </div>

        <div class="infos">
          <div class="title">
            <strong>Alongamento Pescoço</strong>
          </div>
          <div class="text">
            <strong>Categoria:</strong>
            <p>Alongamento Pescoço</p>
          </div>
          <div class="text">
            <strong>Level:</strong>
            <p>6</p>
          </div>
          <div class="text">
            <strong>Duração:</strong>
            <p>35s</p>
          </div>
          <div class="buttonAdd">
            <a href="#" class="linkAdd">Add item</a>
          </div>
        </div>
      </div>
    </div>
    <!-- divisor -->
    <div class="card">
      <div class="container">
        <div class="exercice">
          <img
            class="imgContent"
            src="../../assets/image/exercice.png"
            alt=""
          />
          <img class="imgEfect" src="../../assets/image/efect.png" alt="" />
        </div>

        <div class="infos">
          <div class="title">
            <strong>Alongamento Pescoço</strong>
          </div>
          <div class="text">
            <strong>Categoria:</strong>
            <p>Alongamento Pescoço</p>
          </div>
          <div class="text">
            <strong>Level:</strong>
            <p>8</p>
          </div>
          <div class="text">
            <strong>Duração:</strong>
            <p>35s</p>
          </div>
          <div class="buttonAdd">
            <a href="#" class="linkAdd">Add item</a>
          </div>
        </div>
      </div>
    </div>
     <!-- divisor -->
  </body>
</html>
